.BeerItem_container {
	padding: 10px;
	display: flex;
	justify-content: center;
}

.BeerItem_innerContainer {
	width: 360px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.BeerItem_beerImage {
	flex: 0 0 60px;
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	overflow: hidden;
}
.BeerItem_beerImage > img {
	height: 60px;
}

.BeerItem_beerName {
	font-family: 'Lobster', Georgia, Times, serif;
	max-width: 250px;
	display: inline-block;
	overflow: hidden;
}
.BeerItem_beerName > div {
	padding: 0 3px;
	display: inline-block;
	white-space: nowrap;
}

.BeerItem_description {
	min-width: 260px;
	margin-bottom: 5px;
}

.BeerItem_score {
	font-family: 'Lobster', Georgia, Times, serif;
	min-width: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.BeerItem_individualScore {
	line-height: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.BeerItem_star > span {
	font-size: 32px;
	line-height: 32px;
	padding: 0 0 0 5px;
}

.BeerItem_row {
	display: flex;
	flex-direction: column;
}