.Toggles_expand {
  display: block;
}

.Toggle_collapse {
  display: none;
}

.Toggle_unstyledBtn {
  border: none;
  padding: 0;
  background: none;
  color: darkgray;
  cursor: pointer;
}

.Toggle_unstyledBtn:focus {
  border: none;
  outline: none;
}