.UserBoardItem_container {
	display: flex;
	justify-content: center;
}

.UserBoardItem_innerContainer {
	width: 360px;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.UserBoardItem_beerImage {
	flex: 0 0 60px;
	width: 60px;
	height: 60px;
	background-color: white;
	border-radius: 50%;
	overflow: hidden;
}
.UserBoardItem_beerImage > img {
	height: 60px;
}

.UserBoardItem_beerName {
	font-family: 'Lobster', Georgia, Times, serif;
	max-width: 250px;
	display: inline-block;
	overflow: hidden;
}
.UserBoardItem_beerName > div {
	padding: 0 3px;
	display: inline-block;
	white-space: nowrap;
}

.UserBoardItem_description {
	min-width: 225px;
	margin-bottom: 5px;
}

.UserBoardItem_score {
	font-family: 'Lobster', Georgia, Times, serif;
	min-width: 65px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.UserBoardItem_detailedScore > div > span {
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	margin-right: 5px;
	font-size: 11px;
}

.UserBoardItem_star > span {
	font-size: 32px;
	line-height: 32px;
	padding: 0 0 0 5px;
}

.UserBoardItem_row {
	display: flex;
	flex-direction: column;
}