.googlePhoto {
	border-radius: 50%;
	overflow: hidden;
	height: 40px;
	width: 40px;
}

.Reviewer_user {
	position: absolute;
	top: 20px;
	right: 20px;
}
.Reviewer_gotoResult {
	position: absolute;
	bottom: 20px;
	left: 20px;
}