.Participant_container {
	border-radius: 50%;
	height: 55px;
	width: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
}

.Participant_googlePhoto {
	border-radius: 50%;
	overflow: hidden;
	height: 45px;
	width: 45px;
}